
body {
	background-color: #ECEAE0;
}
div {
    display: inline-block;
}
#mainpara {
	text-align: center;
	font-family: Garamond;
	border-top: 10px double #63AA9C;
	border-bottom: 10px double #63AA9C;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: #221E1D;
	margin-top: auto;

}

h4 {
	text-align: center;
	font-family: Garamond;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: #221E1D;
}
h1 {
	font-size: 75px;
	text-align: center;
}
#icon {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#header {
    position: fixed;
    z-index: 1;
    height: 50px;
    width: 100%;
    left:0px;
   	top:0px;
    background-color: #221E1D;
    margin-top: -10px;
}
.left {
	float: left;
	background-color: #221E1D;
	height: 1000px;
	width: 10%;
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: -20px;
	border: 5px dashed #ECEAE0;
}
.left_location{
	float: left;
	background-color: #221E1D;
	height: 1500px;
	width: 10%;
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: -20px;
	border: 5px dashed #ECEAE0;
}
.right {
	float: right;
	background-color: #221E1D;
	height: 1000px;
	width: 10%;
	margin-right: -20px;
	margin-top: -20px;
	margin-bottom: -20px;
	border: 5px dashed #ECEAE0;
}
.right_location {
	float: right;
	background-color: #221E1D;
	height: 1500px;
	width: 10%;
	margin-right: -20px;
	margin-top: -20px;
	margin-bottom: -20px;
	border: 5px dashed #ECEAE0;
}
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:50px;
   width:100%;
   background-color: #221E1D;
   margin-bottom: -20px;
}
#mainpic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #221E1D;
	margin-bottom: 50px;
	
}
#header p {
	text-align: center;
	font-family: Futura, "Century Gothic";
	color: #ECEAE0;

}
#footer p {
	text-align: center;
	font-family: Futura, "Century Gothic";
	color: #ECEAE0;
}
p a {
	text-decoration: none;
	color: #ECEAE0;
	font-size: 10px;
	font-family: Futura, "Century Gothic"
}
a {
	text-decoration: none;
	color: #221E1D;
}
a:hover {
	color: #E9633B;
}
ul {
    list-style-type: none;
    padding:0;
    margin:0;
}
